<h1>Room <%= @room.name %></h1>
<div class="messages" data-room-id="<%= @room.id %>">
  <%= render @messages %>
</div>
<div>
    <%= text_field_tag :content, nil, placeholder: "Message...", class: 'form-control' %>
</div>
